{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
<h6>Please enter symbol of stock for current stock price.</h6>
    <form action="{{ url_for('quote') }}" method="POST">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock Symbol" type="text"/>
            </div>
            
            <div class="form-group">
                <button class="btn btn-default" type="submit">Quote</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
